* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  /* padding: 1rem; */
  background-color: #4b5320;
  color: white;
  text-align: left;
  margin-bottom: 1rem;
}

section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

label {
  display: inline-block;
  text-align: left;
  /* width: 18rem; */
}

.input-wrapper {
  display: inline-block;
  margin-left: 0.5rem;
}

#aircraftNumber-label {
  display: inline-block;
  width: 9rem;
}

p {
  margin: 0;
  padding: 0;
}

input {
  display: inline-block;
  margin-left: 0.5rem;
  max-width: 4rem;
}

.blue {
  font-weight: bold;
  color: #1f0166;
  display: inline-block;
  text-align: left;
  margin-left: 0.5rem;
  font-style: normal;
}

.red {
  color: red;
}

.italic {
  font-style: italic;
}

.blue {
  color: blue;
}

.column {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-left: 0rem;
  font-style: italic;
  padding-top: 1rem;
}

.error-message {
  color: red;
  font-weight: bold;
}

.reset-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.reset-button-container button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  flex-basis: calc(33.33% - 5px);
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-toggle {
  background-color: #4b5320;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  top: -10px; /* Adjust the top value based on your header height */
  right: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
}

.firefighting-info {
  color: #4b5320;
  font-size: smaller;
  font-style: italic;
  border: 2px solid #4b5320;
  margin-top: 0.5rem;
}

.fire-button {
  background-color: #f25b00;
  color: #fff;
  background-image: linear-gradient(45deg, #ff7733 0%, #f25b00 100%);
  background-size: 200% auto;
  transition: background-position 0.5s;
}

.fire-button:hover {
  background-position: -100% center;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#app {
  margin-left: 1rem;
  font-size: larger;
}
